In [1]:
print('hello')

hello

In [2]:
print('new')

new

In [3]:
print(2+3)

5

In [23]:
230-220*0.5

120.0

In [5]:
my_income=100

taxes_rate=0.1

my_taxes=my_income*taxes_rate

In [6]:
my_taxes

10.0

In [1]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [2]:
print('the {} {} {}'.format('brown','fox','quick'))

the brown fox quick

In [3]:
print('the {2} {0} {1}'.format('brown','fox','quick'))

the quick brown fox

In [4]:
print('the {0} {0} {0}'.format('brown','fox','quick'))

the brown brown brown

In [5]:
print('the {q} {b} {f}'.format(b='brown',f='fox',q='quick'))

the quick brown fox

In [6]:
result=100/177

In [8]:
print(result)

0.5649717514124294

In [17]:
print('the result is {r:1.3f}'.format(r=result))

the result is 0.565

In [18]:
name= "navneet"

In [19]:
print(f'the name is {name}')

the name is navneet

In [20]:
print('the name is {name}')

the name is {name}

In [21]:
name = "navneet"
age = 23

In [22]:
print(f'{name} is {age} years old')

navneet is 23 years old

In [24]:
my_list = ["string",100,20.23]

In [25]:
my_list

['string', 100, 20.23]

In [26]:
len(my_list)

3

In [27]:
my_list[0]

'string'

In [28]:
print(my_list[0])

string

In [32]:
my_list[1:]

[100, 20.23]

In [2]:
set([1,1,2,3])

{1, 2, 3}

In [3]:
%%writefile myfile.txt
Hello this is a text file.
this is the seond line.
this is the third line.

Writing myfile.txt

In [4]:
myfile= open('myfile.txt')

In [5]:
pwd

'C:\\Users\\kumar\\Desktop\\python'

In [6]:
myfile.read()

'Hello this is a text file.\nthis is the seond line.\nthis is the third line.\n'

In [7]:
myfile.read()

''

In [8]:
myfile.seek(0)

0

In [9]:
myfile.read()

'Hello this is a text file.\nthis is the seond line.\nthis is the third line.\n'

In [10]:
myfile.seek(0)

0

In [11]:
myfile.readlines()

['Hello this is a text file.\n',
 'this is the seond line.\n',
 'this is the third line.\n']

In [12]:
myfile.close()

In [13]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [14]:
contents

'Hello this is a text file.\nthis is the seond line.\nthis is the third line.\n'

In [15]:
with open('myfile.txt') as my_new_file

SyntaxError: invalid syntax (<ipython-input-15-2dfa72dc326a>, line 1)

In [16]:
with open('myfile.txt') as my_new_file:

SyntaxError: unexpected EOF while parsing (<ipython-input-16-4670d573d5a8>, line 1)

In [17]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [18]:
contents

'Hello this is a text file.\nthis is the seond line.\nthis is the third line.\n'

In [19]:
%%writefile my_new_file.txt
one on first
two on second
three on third

Writing my_new_file.txt

In [20]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

one on first
two on second
three on third

In [22]:
with open('my_new_file.txt',mode='a') as f:
    f.write('four on fourth')

In [23]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

one on first
two on second
three on third
four on fourth

In [24]:
with open('abcd.txt',mode='w') as f:
    f.write('i created this file!')

In [25]:
with open('abcd.txt',mode='r') as f:
    print(f.read())

i created this file!

In [26]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [34]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [35]:
mystring='Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [36]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [37]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [38]:
len(mylist)

4

In [40]:
for a,b in mylist:
    print(b)

2
4
6
8

In [48]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [49]:
for a,b,c in mylist:
    print(b)

2
5
8

In [52]:
d={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [53]:
for item in d:
    pass

In [57]:
mystring = 'sammy'

In [62]:
for letter in mystring:
    if letter == 'a':
        continue
        #break
    print(letter)

s
m
m
y

In [63]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [66]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [67]:
index_count=0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [68]:
index_count=0
word='abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [71]:
word='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [75]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']

In [76]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [77]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [79]:
'x' in [1,2,3,'x']

True

In [80]:
from random import shuffle

In [81]:
mylist = [1,2,3,4,5,6,7,8,9]

In [84]:
shuffle(mylist)

In [85]:
mylist

[1, 4, 8, 9, 3, 6, 7, 5, 2]

In [86]:
from random import randint

In [87]:
randint(0,100)

74

In [88]:
mynum = randint(0,10)

In [89]:
mynum

1

In [90]:
result = input('enter a number: ')

enter a number: 12

In [91]:
result

'12'

In [97]:
a=4
b=3
print(int(a/b))
print(float(a/b))

1
1.3333333333333333

In [104]:
year = int(input())
print(is_leap(year))
def is_leap(year):
    leap = False
    if(year%4 == 0):
        if(year%100==0 and year%400==0):
            leap = True
        else:
            leap = False
    else:
        leap = False

    # Write your logic here
    
    return leap

2004
None

In [108]:
#year = 1992

# To get year (integer input) from the user
year = int(input("Enter a year: "))
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a leap year".format(year))
        else:
            print("{0} is not a leap year".format(year))
    else:
        print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 1992
1992 is a leap year

In [111]:
n=5
print(*range(1,n+1))

1 2 3 4 5

In [2]:
mystring = "hello"

In [4]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [6]:
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [letter for letter in mystring]

In [8]:
mylist

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist = [x for x in 'word']

In [10]:
mylist

['w', 'o', 'r', 'd']

In [13]:
mylist = [num**2 for num in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
mylist = [num**2 for num in range(0,11) if num%2==0]

In [17]:
mylist

[0, 4, 16, 36, 64, 100]

In [18]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [19]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [20]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [21]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [23]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [25]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [26]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [27]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [28]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]